.login-popup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; /* Increased z-index to appear above header contents */
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    display: grid;
    overflow-y: auto;
}
.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #C9C9C9;
    padding: 10px;
    border-radius: 4px;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #2474ff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.login-popup-container button:hover {
    background-color: #1a5bff; /* Change the background color to a deeper shade */
}


.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input {
    margin-top: 5px;
}

.login-popup p span {
    color: #2466ff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.login-popup p span::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #2466ff;
    bottom: 0;
    transition: width 0.2s ease-in-out;
}

.login-popup p span:hover {
    color: #ffa07a; /* Orange color */
}

.login-popup p span:hover::after {
    width: 100%;
    background-color: #ffa07a; /* Orange color */
}

.login-button {
    position: relative;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #2474ff;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 40px; /* Add this line */
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
  }
  
  .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spinner-border 1s linear infinite;
  }
  
  @keyframes spinner-border {
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }